<div class="password-container">
    <input type="password" placeholder="Enter password" (input)="checkStrength($event)" />

    <div class="strength-indicators">
        <div [ngClass]="{ 'weak': strength === 'easy', 'too-short': strength === 'too-short', 'medium': strength === 'medium', 'strong': strength === 'strong' }"></div>
        <div [ngClass]="{ 'medium': strength === 'medium', 'too-short': strength === 'too-short', 'strong': strength === 'strong' }"></div>
        <div [ngClass]="{ 'strong': strength === 'strong', 'too-short': strength === 'too-short' }"></div>
    </div>
</div>
